# 忽略缓存或临时文件
.cache
custom.el
elpa
assets/mail/*
assets/lsp/*
assets/dap/*
assets/python/*
assets/rime/
!assets/rime/default.custom.yaml
!assets/rime/luna_pinyin.custom.yaml
!assets/rime/luna_pinyin.sougou.dict.yaml

README.html
.tramp
.last-package-update-day
.org-id-locations
.dap-breakpoints
.vwe-project
.project.cache.vw
.project.tag.vw
org-roam.db
places
recentf
projects
projectile-bookmarks.eld
network-security.data

emms/
eshell/
transient/
tutorial/
auto-save-list/*
eclipse.jdt.ls/
url/
anaconda-mode/*
skewer-cache/
